.bold{
    font-weight: 700;
}

.indented{
    padding-left: 20px;
    padding-right: 50px;
    border-radius: 10px;
}

.rounded{
    margin-top: 2px;
    border-radius: 20%;
}


.rounded-body{
    border-radius: 10px;
}

.modern{
    border-width: 0px;
    border-bottom: 2px solid green;
}

.padded{
    margin-top: 5px;
}
.vertical-padded{
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.heavily-padded{
    margin-left: 15px;
    margin-right: 15px;
}
.horizontally-padded{
    padding: 20px;
    margin: 10px;
    border: 3px solid green;
    border-radius: 50px;
}
div.dt-buttons {
    width:100%;
}

.total{
    color: blue;
}
.select {
    color: red;
    background-color: #858181;
}


div.dom_wrapper {
    position: sticky;  /* Fix to the top */
    top: 0;
    padding: 5px;
    background: rgba(200, 255, 255, 1);  /* hide the scrolling table */
}

table.dataTable.productSearchList tbody th, table.dataTable.productSearchList tbody td, table.dataTable.productSearchList {
    padding: 1px 1px;
    font-size: smaller;
}

.bg-transparent, .bg-transparent:hover, .bg-transparent:active, .bg-transparent:visited{
    background-color: transparent !important;
    border: 2px solid transparent !important;
    border-radius: 10%;
    text-transform: capitalize;
}

.product-search{
    background-color: lightgrey;
    padding: 20px;
    border: 2px solid darkslategrey;
    border-radius: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.hidden{
    display: none;
}



.modal-staff-danger{
    background-color: red;
    opacity: 0.8;
    color: white;
    font-weight: bolder;
    border: 0.1px solid lightgrey;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    width: 300px;
}

.modal-staff-success{
    background-color: limegreen;
    opacity: 0.8;
    color: white;
    font-weight: bolder;
    border: 0.1px solid lightgrey;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    /*width: 300px;*/
}

.modal-staff-warning{
    background-color: forestgreen;
    opacity: 0.8;
    color: white;
    font-weight: bolder;
    border: 0.1px solid lightgrey;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    /*width: 300px;*/
}

.modal-staff-secondary{
    background-color: purple;
    opacity: 0.8;
    color: white;
    font-weight: bolder;
    border: 0.1px solid lightgrey;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    /*width: 300px;*/
}

.modal-staff-info{
    background-color: dodgerblue;
    opacity: 0.8;
    color: white;
    font-weight: bolder;
    border: 0.1px solid lightgrey;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    /*width: 300px;*/
}

.right-top{
    float: end;
}

.x-small{
    font-size: x-small;
}

.xx-small{
    font-size: xx-small;
}

.bordered{
    border: 3px solid green;
}